/* Global
================================= */
$black-text: black;

/* Layout
================================= */

body {
  font-family: sans-serif;
  color: $black-text !important;
}

.App{
    margin: 0 !important;
    padding: 0 !important;
    .SearchContainer {
        float: left;
        z-index: 2;
        margin: 1% 0 0 -1%;
    }
    .GMapContainer{
        height: 100%;
        position: absolute;
        float: left;
        z-index: -1;
        margin: 0 !important;
        padding: 0 !important;
    }
    // Hides fullscreen button on map
    .gm-fullscreen-control {
      display: none;
    }
}
