/* Global
================================= */
/* Layout
================================= */
body {
  font-family: sans-serif;
  color: black !important; }

.App {
  margin: 0 !important;
  padding: 0 !important; }
  .App .SearchContainer {
    float: left;
    z-index: 2;
    margin: 1% 0 0 -1%; }
  .App .GMapContainer {
    height: 100%;
    position: absolute;
    float: left;
    z-index: -1;
    margin: 0 !important;
    padding: 0 !important; }
  .App .gm-fullscreen-control {
    display: none; }
