/* Global
================================= */

/* Layout
================================= */

body {
  font-family: sans-serif;
}

.App{
    margin: 0 !important;
    padding: 0 !important;
    .SearchContainer {
        float: left;
    }
    .GMapContainer{
        float: left;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0 !important;
        padding: 0 !important;
        border: 1px solid black;
    }
    // Hides fullscreen button on map
    .gm-fullscreen-control {
      display: none;
    }
}
